/*
units
-----
units are specify the how much size need to be a container
 1. absolute-units
      px
      in
      cm
      mm

 2. relative-units
      %- the % will check the parent container size

      font-size only 
      em- the element font size it will consider the
          parent element font size
      rem- root element font size 
          the root element font size default is 1rem = 16px
      vh- it will consider the view-port height
          it doest consider any parent container size
      vw-it will consider the view-port width
          it doest consider any parent container size


 */
 /* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } */


 .view{
  /* 16px h and 16px w  */
  /* width: 2rem;
  height: 2rem; */
  font-size: 10px;
  /* background-color: aqua; */
 }
.v-child{
  width:2rem;
  height:2em;
  background-color: red;
}


 /* body,html{
  height: 100%;
 } */
 /* 
.parent{
  width: 50%;
  height: 50%;
  background-color: red;
  border: 10px solid;
}
.child{
  width: 50%;
  height: 50%;
  background-color: blue;
}
 
.english{
  width: 50%;
  margin-top: 10px;
  border: 2px solid;
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
  background-color: aqua;
}
.english>.in-english{
  width: 90%;
  background-color: lightgray;
  height: 100%;
  text-align: center;
}
.Spanish{
  width: 50%;
  margin-top: 10px;
  border: 2px solid;
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
  background-color: aqua;
}
.Spanish>.in-Spanish{
  width: 70%;
  background-color: lightgray;
  height: 100%;
  text-align: center;
}
.German{
  width: 50%;
  margin-top: 10px;
  border: 2px solid;
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
  background-color: aqua;
}
.German>.in-German{
  width: 55%;
  background-color: lightgray;
  height: 100%;
  text-align: center;
} */


 html{
  font-size: 30px;
 }
 .em{
  width: ;
 }