/* media Query's
-----------------
responsive web deign
---------------------
1. meta view port
2. relative units
3. box-sizing:border-box;
4. flex
5. grid
6. media (mobile)

syx:
----
end of the css we need to write the media q 
1. mobile view
2. tab view
3. desk-top view
    orientation:landscape/portrait
@media all/screen/print and  (break-point) and (break-point){

    selector{
      property:value;
      property:value;
      property:value;
    }
}
 */
.container{
  width: 100%;
  display: flex;
  border: 2px solid;
  justify-content: space-between;
}
.inner-container{
  display: flex;
}
.item{
  padding: 5px;
}
.item-1{
  background-color: green;
}
.item-3{
  background-color: orange;
}
.item-4{
  background-color: pink;
}
.item-5{
  background-color: red;
}
.item-6{
  background-color: purple;
  display: none;
}
.item-7{
  background-color: lightblue;
  display: none;
}

@media screen and (max-width: 577px) {
 .item-1,.item-3,.item-4,.item-5,.item-6{
  display: none;
 }
 .container{
  justify-content: center;
 }
 .item-7{
  display: flex;
 }
}
@media screen and (min-width: 577px) and (max-width: 900px) {
  .item-4,.item-5{
    display: none;
  }
  .item-6{
    display: flex;
  }
}